#usefulArea{
	background-color:#eee;
}
#infoArea{
	background-color:#eee;
}
#linkArea{
	background-color:#eee;
}
#contents{
	background-color:#ffc;
}
#twitter{
	background-color:#eee;
}
#slogan{
	min-height: 100px;
}
#footerInner{
	background-color: #fff;
	min-height:100px;
}
